/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: rgb(7, 0, 9);
  background: linear-gradient(
    99deg,
    rgba(7, 0, 9, 1) 0%,
    rgba(54, 0, 69, 1) 20%,
    rgba(100, 0, 128, 1) 40%,
    rgba(100, 0, 128, 1) 60%,
    rgba(54, 0, 69, 1) 80%,
    rgba(7, 0, 9, 1) 100%
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
