@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-container {
  width: 40%;
  margin-top: 50px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow (0px 0px 5px black);

  font-family: "Belanosima", sans-serif;
  color: white;
  font-size: 50px;
}
.question-card {
  width: 55%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow (0px 0px 5px black);
  background-color: rgba(0, 0, 0, 0.342);
  font-family: "Belanosima", sans-serif;
  color: white;
  font-size: 35px;
}

.answer-card {
  display: flex;
  flex-direction: row;
  gap: 45px;
  flex-wrap: wrap;
  width: 45%;
  height: 300px;
}

.answer-card button {
  width: 35%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.342);
  border: none;
  border-radius: 10px;
  filter: drop-shadow (0px 0px 5px black);
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 20px;
}

.result-card h1 {
  color: white;
  filter: drop-shadow (0px 0px 5px black);
  font-family: "Belanosima", sans-serif;
}

.result-card p {
  filter: drop-shadow (0px 0px 5px black);
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 25px;
}

.result-card button {
  width: 90%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.342);
  border: none;
  border-radius: 10px;
  filter: drop-shadow (0px 0px 5px black);
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 20px;
}

button:hover {
  transition: 1s;
  transform: scale(1.1);
}
